name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    # Do not deploy in the main repository, only in user projects
    if: github.repository_owner != 'fastapi'
    runs-on:
      - self-hosted
      - production
    env:
      ENVIRONMENT: production
      DOMAIN: ${{ secrets.DOMAIN_PRODUCTION }}
      STACK_NAME: ${{ secrets.STACK_NAME_PRODUCTION }}
      FRONTEND_HOST: ${{ secrets.FRONTEND_HOST }}
      BACKEND_CORS_ORIGINS: ${{ secrets.BACKEND_CORS_ORIGINS }}
      VITE_API_URL: ${{ secrets.VITE_API_URL }}
      DOCKER_IMAGE_BACKEND: ${{ secrets.DOCKER_IMAGE_BACKEND }}
      DOCKER_IMAGE_FRONTEND: ${{ secrets.DOCKER_IMAGE_FRONTEND }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      FIRST_SUPERUSER: ${{ secrets.FIRST_SUPERUSER }}
      FIRST_SUPERUSER_PASSWORD: ${{ secrets.FIRST_SUPERUSER_PASSWORD }}
      SMTP_HOST: ${{ secrets.SMTP_HOST }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      EMAILS_FROM_EMAIL: ${{ secrets.EMAILS_FROM_EMAIL }}
      POSTGRES_SERVER: ${{ secrets.POSTGRES_SERVER }}
      POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Create .env for compose
        run: |
          cat > .env <<EOF
          DOMAIN=${DOMAIN}
          FRONTEND_HOST=${FRONTEND_HOST}
          ENVIRONMENT=${ENVIRONMENT}
          BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS}
          SECRET_KEY=${SECRET_KEY}
          FIRST_SUPERUSER=${FIRST_SUPERUSER}
          FIRST_SUPERUSER_PASSWORD=${FIRST_SUPERUSER_PASSWORD}
          POSTGRES_SERVER=${POSTGRES_SERVER}
          POSTGRES_PORT=${POSTGRES_PORT}
          POSTGRES_DB=${POSTGRES_DB}
          POSTGRES_USER=${POSTGRES_USER}
          POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
          SMTP_HOST=${SMTP_HOST}
          SMTP_USER=${SMTP_USER}
          SMTP_PASSWORD=${SMTP_PASSWORD}
          EMAILS_FROM_EMAIL=${EMAILS_FROM_EMAIL}
          SENTRY_DSN=${SENTRY_DSN}
          VITE_API_URL=${VITE_API_URL}
          DOCKER_IMAGE_BACKEND=${DOCKER_IMAGE_BACKEND}
          DOCKER_IMAGE_FRONTEND=${DOCKER_IMAGE_FRONTEND}
          EOF
      - run: docker compose -f compose.yml --project-name ${{ secrets.STACK_NAME_PRODUCTION }} build
      - run: docker compose -f compose.yml --project-name ${{ secrets.STACK_NAME_PRODUCTION }} up -d
      - name: Dump prestart logs on failure
        if: failure()
        run: docker compose -f compose.yml --project-name ${{ secrets.STACK_NAME_PRODUCTION }} logs --no-color prestart
